{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a Car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load crispy_forms_tags %}
</head>
<body style="background: #494d5f">

    {% block content %}
        <div class="container" style="">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card" style="color:#B3B8CD; background: #231E39">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a>Register a car</a>
                            </h5>
                            <div class="card-text">
                            <form action="" method="POST" novalidate id="contactForm">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {{ message_form|crispy }}
                                <button type="submit"
                                        class="btn btn-secondary"
                                        id="add_button"
                                        style="width: 80px">
                                    Submit
                                </button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function (){
            $('#id_mileage').keyup(function (){
                $.ajax(
                {
                    data: $(this).serialize(),
                    url: "{% url 'validate_mileage' %}",
                    success:
                        function (response){
                        if($('#mileageError').length == 0)
                            $('#id_mileage').after('<div class="invalid-feedback d-block" id="mileageError" style="font-size: 13px"></div>');
                        if(response.mileage_pos == false){
                            $('#mileageError').removeClass('valid-feedback').addClass('invalid-feedback').text("Mileage cannot be negative");
                            $('#add_button').prop('disabled', true)
                        } else {
                            $('#mileageError').removeClass('invalid-feedback').addClass('valid-feedback').text("");
                            $('#add_button').prop('disabled', false)
                        }
                        },
                    error: function (response){
                        console.log(response.responseJSON.errors);
                    }
                }
            );
                return false;
            });
        });
    </script>
    {% endblock javascript %}
</body>
</html>